.idea/
*.iml
*.DS_Store
.idea/workspace.xml
target/
*.orig


*.png
/ImgCompExtentReport.html
src/test/java/pageobjects/euroApi/imageComparison/screenshots/
src/test/java/pageobjects/euroApi/stockData/
/test-output/
/phantomjs

*.html
